.navbar {
  width: 60% !important;
  backdrop-filter: blur(10px); /* Blur effect */
  -webkit-backdrop-filter: blur(10px); /* Safari support */ /* Clean edge */
  border: 2px solid var(--primary-color);
  border-radius: 20px;

  .navbar-nav .navLink {
    color: var(--primary-color) !important;
    font-size: 16px;
    font-weight: bold;

    &:hover {
      text-decoration: underline;
    }
  }
  .customNavItem {
    // color: var(--primary-background);
    margin-bottom: 0px;
    padding: 5px;
    font-size: 24px;
  }
  /* Remove border if you don’t want */
  .navbar-toggler {
    border: none !important;
    box-shadow: none !important;
    margin-left: auto;
  }

  /* Dark theme → white hamburger */
  /* Dark theme → white hamburger */
  .toggle-light .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3Csvg%20viewBox='0%200%2030%2030'%20xmlns='http://www.w3.org/2000/svg'%3E%3Cpath%20stroke='%23ffffff'%20stroke-width='2'%20stroke-linecap='round'%20stroke-miterlimit='10'%20d='M4%207h22M4%2015h22M4%2023h22'/%3E%3C/svg%3E");
  }

  /* Light theme → black hamburger */
  .toggle-dark .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3Csvg%20viewBox='0%200%2030%2030'%20xmlns='http://www.w3.org/2000/svg'%3E%3Cpath%20stroke='%23000000'%20stroke-width='2'%20stroke-linecap='round'%20stroke-miterlimit='10'%20d='M4%207h22M4%2015h22M4%2023h22'/%3E%3C/svg%3E");
  }

  .inputBox {
    margin-top: 200px;
  }
  .toggle-wrapper {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 1rem;
  }

  @media (max-width: 1023px) {
    width: 100% !important;
    border: none;
  }
}
.navbar-toggler {
  color: var(--secondary-color) !important;
}
/* Navbar.scss */
.theme-toggle svg {
  color: var(--nav-theme);
  transition: transform 0.2s ease, color 0.2s ease;
}

.theme-toggle svg:hover {
  transform: scale(1.2);
  color: var(--nav-theme); // or any highlight color
}

/* 1. Offcanvas width */
.offcanvas {
  width: 50% !important; /* Half screen width */
 background-color: var(--navbar-bg) !important; /* Transparent white */
  backdrop-filter: blur(10px); /* Blur effect */
  -webkit-backdrop-filter: blur(10px); /* Safari support */
  border-left: none; /* Clean edge */
  color: var(--primary-color) !important; /* Text color */

}

.offcanvas-body,
.offcanvas-header {
  position: relative;
  z-index: 1; /* content above the blurred box */
  // color: var(--primary-color) !important;
   color: var(--primary-color) !important;
    font-size: 16px;
    font-weight: bold;
}

@media (max-width: 1024px) {
  .customNavItem {
    display: none;
  }
}



