.skillContainer {
  margin: 20px auto;
  padding: 20px;

  .skillSet{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;

    .skillItem{
      display: flex;
      align-items: center;
      border: 1px solid var(--secondary-color);
      padding: 8px 10px;
      color: var(--secondary-color);
      background-color: var(--primary-background);
      font-weight: bold;

      h6{
        margin: 0;
        padding: 0 0 0 10px;
        font-weight: bold;
        font-size: 1.1rem;
      }

      img{
        width: 34px;
        height: 34px;
      }
    }
  }
  // h2 {
  //   padding-bottom: 20px;
  //   margin-bottom: 20px;
  // }

  .skillCard {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
  }

  @media (max-width: 768px) {
    .skillCard {
      grid-template-columns: 1fr;
    }
  }
}
