@keyframes section1slideInFromLeft {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(0);
    }
  }
  
  @keyframes section1slideInFromRight {
    0% {
      transform: translateX(200%);
    }
    100% {
      transform: translateX(0);
    }
}
@keyframes section2slideInFromLeft {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(0);
    }
  }
  
  @keyframes section2slideInFromRight {
    0% {
      transform: translateX(200%);
    }
    100% {
      transform: translateX(0);
    }
}
.section1{
    .column-left {  
        /* This section calls the slideInFromLeft animation we defined above */
        animation: 1s ease-out 0s 1 section1slideInFromLeft;
        padding: 30px;
      }
      .column-right {  
        /* This section calls the slideInFromLeft animation we defined above */
        animation: 1s ease-out 0s 1 section1slideInFromRight;
        padding: 30px;
      }
}
.section2{
    .column-left {  
        /* This section calls the slideInFromLeft animation we defined above */
        animation: 1s ease-out 0s 1 section2slideInFromLeft;
        padding: 30px;
      }
      .column-right {  
        /* This section calls the slideInFromLeft animation we defined above */
        animation: 1s ease-out 0s 1 section2slideInFromRight;
        padding: 30px;
      }
}
