body{
  background-color: black;
}

.navbar .nav-item .nav-link{
  color: #66BFBF;
  font-size: 18px;
}
.navbar .nav-item .nav-link:hover{
  color: #4c9494;
}
h1.top-heading{
  color: #66BFBF;
  font-family: 'Sacramento',cursive;
  font-size: 70px !important;
}
h2.top-heading{
  font-family: 'Montserrat',sans-serif;
  color: #66BFBF;
}
.bg-image{
  background-color: black;
}
.main-content{
  color: #66BFBF;
  background-color: black;
  height: 450px;
}
.main-para{
  width: 50%;
  margin: auto;
}


hr {
  border: 6px dotted #48dad0;
  background-color: black;
  border-bottom: none;
  width: 4%;
  margin: 80px auto;
}
.card{
  width: 17rem;
}
.bottom-content{
  background-size: cover; 
  background-repeat: no-repeat;
  height: 500px;
  text-align: center;
  background-position: center;
  padding: 200px 410px;
}
.bottom-content h5{
  background-color: black;
}

.ficon a {
  position: relative;
  display: inline-block;
  width: 45px;
  height: 45px;
  line-height: 42px;
  background: #2e3138;
  color: #9ea0a9 !important;
  text-align: center;
  border-radius: 50%;
  margin: 5px;
  font-size: 15px;
  cursor: pointer;
  padding-top: 5px;
}
.ficon a:hover{
  background-color: #48dad0;
  color: white !important;
}
.footer-copyright{
  color: #48dad0;
  font-weight: 600;
}
.top-container{
  padding-bottom: 0px !important;
}