

:root {
  --primary-color: #84e9e2;
  --secondary-color: #e3f7f9;
  --primary-background: #061e26;
  --primary-transparent-bg: 132, 233, 226; 
  --primary-card-bg:#00ffed;
  --navbar-bg:#061e2667;
  --card-bg: #092732;
  --nav-theme:white;
}

[data-theme="light"] {
  --primary-color: rgb(9, 39, 50);
  --secondary-color: #1a7872;
  --primary-background:#dffcff ;
  --primary-transparent-bg: 9, 39, 50;
  --primary-card-bg:#136965;
  --navbar-bg:#ffffff80;
  --card-bg:#e3f7f9 ;
  --nav-theme:#fdff50;
}


/* 
:root {
  --primary-color: #84e9e2;
  --secondary-color: #e3f7f9;
  --primary-background: #061e26;
  --primary-transparent-bg: 132, 233, 226; 
  --primary-card-bg:#00ffed;
  --card-bg: #092732;
}

[data-theme="light"] {
  --primary-color: rgb(9, 39, 50);
  --secondary-color: #1a7872;
  --primary-background:#dffcff ;
  --primary-transparent-bg: 9, 39, 50;
  --primary-card-bg:#136965;
} */