

:root {
  --primary-color: #84e9e2;
  --secondary-color: #e3f7f9;
  --primary-background: #092732;
  /* --primary-btn-color:#84e9e2; */
  --primary-transparent-bg: 82, 255, 243; 
  --primary-card-bg:#007d77;
}

[data-theme="light"] {
  --primary-color: #092732;
  --secondary-color: #1a7872;
  --primary-background: #e3f7f9;
  /* --primary-btn-color:#e3f7f9; */
  --primary-transparent-bg: 26, 120, 114;
    --primary-card-bg:#1e7671;
}